<nav class="navbar fixed-top navbar-light customNav">
    <!-- <div class="container-fluid ">
      	<div class="paddingNav"> 
	        <div class="logoArea">GirlsFab</div>
	        <div class="compNam">GirlsFab</div>
	        <div class="topNav">
	        	<ul>
	        		<li><a href="#"  class="active">Home</a></li>
	        		<li>
	        			<a href="#">Bedding <i class="fa fa-angle-down"></i></a>        				
						<ul class="navL2">
							<li><a href="#">Comforter and Quilt Sets</a></li>
							<li><a href="#">Sheets and Pillowcases</a></li>
							<li><a href="#">Kid's Bedding</a></li>
							<li><a href="#">Blankets and Throws</a></li>
							<li><a href="#">Bedding Accessories</a></li>
							<li><a href="#">Baby</a></li>
						</ul>		
		        	</li>
	        		<li><a href="#">Kitchen  <i class="fa fa-angle-down"></i></a>
	        			<ul class="navL2">
							<li><a href="#">Comforter and Quilt Sets</a></li>
							<li><a href="#">Sheets and Pillowcases</a></li>
							<li><a href="#">Kid's Bedding</a></li>
							<li><a href="#">Blankets and Throws</a></li>
							<li><a href="#">Bedding Accessories</a></li>
							<li><a href="#">Baby</a></li>
						</ul>
	        		</li>
	        		<li><a href="#">Household</a></li>
	        		<li><a href="#">Office</a></li>
	        		<li><a href="#">Travel</a></li>
	        		<li><a href="#">Pets</a></li>
	        	</ul>
	        </div>
        </div>
    </div> -->
    <app-mobiletopnav></app-mobiletopnav>
</nav>

<div class="mobileContainer">
	<div class="special">
		<div class="container"><!-- 
			<h3>Special Offers</h3> -->
			<div class="specia-top">
				<ul class="grid_2">
					<li>
						<a href="https://amzn.to/3h1HUdS" target="_blank"><img src="https://images-na.ssl-images-amazon.com/images/I/71EE1nVrP0L._UL1500_.jpg" class="img-fluid" alt="">
							<div class="special-info grid_1">
								<h5>Lorem ipsum dolor</h5>
								<div class="starRating"><i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i></div>
								<div class="item_add clearfix">
									<span class="item_price">&#x20B9;40.00</span>
									<span class="buyNowbtn">BUY NOW</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="https://amzn.to/3extErc" target="_blank"><img src="assets/images/7.jpg" class="img-fluid" alt="">
							<div class="special-info grid_1">
								<h5>Consectetur adipis</h5>
								<div class="starRating"><i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star"></i></div>
								<div class="item_add clearfix">
									<span class="item_price">&#x20B9;40.00</span>
									<span class="buyNowbtn">BUY NOW</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="https://amzn.to/2zGp9LW" target="_blank"><img src="assets/images/9.jpg" class="img-fluid" alt="">
							<div class="special-info grid_1">
								<h5>Commodo consequat</h5>
								<div class="starRating"><i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star"></i></div>
								<div class="item_add clearfix">
									<span class="item_price">&#x20B9;40.00</span>
									<span class="buyNowbtn">BUY NOW</span>
								</div>
							</div>
						</a>		
					</li>
					<li>
						<a href="https://amzn.to/2ZOMoOx" target="_blank"><img src="assets/images/10.jpg" class="img-fluid" alt="">
							<div class="special-info grid_1">
								<h5>Voluptate velit</h5>
								<div class="starRating"><i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star"></i></div>
								<div class="item_add clearfix">
									<span class="item_price">&#x20B9;40.00</span>
									<span class="buyNowbtn">BUY NOW</span>
								</div>
							</div>
						</a>
					</li>
					<div class="clearfix"> </div>
					<br/>
					<li>
						<a href="https://amzn.to/3gGXprx" target="_blank"><img src="assets/images/7.jpg" class="img-fluid" alt="">
							<div class="special-info grid_1">
								<h5>Lorem ipsum dolor</h5>
								<div class="starRating"><i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star"></i></div>
								<div class="item_add clearfix">
									<span class="item_price">&#x20B9;40.00</span>
									<span class="buyNowbtn">BUY NOW</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="https://amzn.to/3extErc" target="_blank"><img src="assets/images/7.jpg" class="img-fluid" alt="">
							<div class="special-info grid_1">
								<h5>Consectetur adipis</h5>
								<div class="starRating"><i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star"></i></div>
								<div class="item_add clearfix">
									<span class="item_price">&#x20B9;40.00</span>
									<span class="buyNowbtn">BUY NOW</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="https://amzn.to/2zGp9LW" target="_blank"><img src="assets/images/9.jpg" class="img-fluid" alt="">
							<div class="special-info grid_1">
								<h5>Commodo consequat</h5>
								<div class="starRating"><i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star"></i></div>
								<div class="item_add clearfix">
									<span class="item_price">&#x20B9;40.00</span>
									<span class="buyNowbtn">BUY NOW</span>
								</div>
							</div>
						</a>		
					</li>
					<li>
						<a href="https://amzn.to/2ZOMoOx" target="_blank"><img src="assets/images/10.jpg" class="img-fluid" alt="">
							<div class="special-info grid_1">
								<h5>Voluptate velit</h5>
								<div class="starRating"><i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star"></i></div>
								<div class="item_add clearfix">
									<span class="item_price">&#x20B9;40.00</span>
									<span class="buyNowbtn">BUY NOW</span>
								</div>
							</div>
						</a>
					</li>
					<div class="clearfix"> </div>
					<br/>
					<li>
						<a href="https://amzn.to/3gGXprx" target="_blank"><img src="assets/images/7.jpg" class="img-fluid" alt="">
							<div class="special-info grid_1">
								<h5>Lorem ipsum dolor</h5>
								<div class="starRating"><i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star"></i></div>
								<div class="item_add clearfix">
									<span class="item_price">&#x20B9;40.00</span>
									<span class="buyNowbtn">BUY NOW</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="https://amzn.to/3extErc" target="_blank"><img src="assets/images/7.jpg" class="img-fluid" alt="">
							<div class="special-info grid_1">
								<h5>Consectetur adipis</h5>
								<div class="starRating"><i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star"></i></div>
								<div class="item_add clearfix">
									<span class="item_price">&#x20B9;40.00</span>
									<span class="buyNowbtn">BUY NOW</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="https://amzn.to/2zGp9LW" target="_blank"><img src="assets/images/9.jpg" class="img-fluid" alt="">
							<div class="special-info grid_1">
								<h5>Commodo consequat</h5>
								<div class="starRating"><i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star"></i></div>
								<div class="item_add clearfix">
									<span class="item_price">&#x20B9;40.00</span>
									<span class="buyNowbtn">BUY NOW</span>
								</div>
							</div>
						</a>		
					</li>
					<li>
						<a href="https://amzn.to/2ZOMoOx" target="_blank"><img src="assets/images/10.jpg" class="img-fluid" alt="">
							<div class="special-info grid_1">
								<h5>Voluptate velit</h5>
								<div class="starRating"><i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star rate"></i> <i class="fa fa-star"></i></div>
								<div class="item_add clearfix">
									<span class="item_price">&#x20B9;40.00</span>
									<span class="buyNowbtn">BUY NOW</span>
								</div>
							</div>
						</a>
					</li>
					<div class="clearfix"> </div>
					<br/>
				</ul>
			</div>
		</div>
	</div>
</div>	

<div class="mobNav">
	<ul>
		<li><a href="#" class="active"><i class="fa fa-home"></i></a></li>
		<li><a href="#"><i class="fa fa-bed"></i></a></li>
		<li><a href="#"><i class="fa fa-faucet"></i></a></li>
		<li><a href="#"><i class="fa fa-address-book"></i></a></li>
		<li><a href="#"><i class="fa fa-broom"></i></a></li> 
	</ul> 
</div> 
