<div class="container-fluid ">
  	<div class="paddingNav">
        <div class="logoArea"><img src="assets/images/logo1.png" class="img-fluid web"> <img src="assets/images/m-logo.png" class="img-fluid mobile"></div>
        <div class="compNam">GirlsFab</div>
        <div class="topNav">
        	<ul>
        		<li><a routerLink="/home" class="active">HOME</a></li>
        		<li><a routerLink="/apparel">APPAREL</a></li>
        		<li><a routerLink="/shoes">SHOES</a></li>
        		<li><a routerLink="/bags">BAGS</a></li>
        		<li><a routerLink="/favorites">FAVORITES</a></li>
        		<!-- <li><a routerLink="/more">MORE  <i class="fa fa-angle-down"></i></a>
        			<ul class="navL2">
						<li><a href="#">MENU 1</a></li>
						<li><a href="#">MENU 2</a></li>
						<li><a href="#">MENU 3</a></li> 
					</ul>
        		</li> -->

        		<!-- <li><a href="#"  class="active">Home</a></li>
        		<li>
        			<a href="#">Bedding <i class="fa fa-angle-down"></i></a>        				
					<ul class="navL2">
						<li><a href="#">Comforter and Quilt Sets</a></li>
						<li><a href="#">Sheets and Pillowcases</a></li>
						<li><a href="#">Kid's Bedding</a></li>
						<li><a href="#">Blankets and Throws</a></li>
						<li><a href="#">Bedding Accessories</a></li>
						<li><a href="#">Baby</a></li>
					</ul>		
	        	</li>
        		<li><a href="#">Kitchen  <i class="fa fa-angle-down"></i></a>
        			<ul class="navL2">
						<li><a href="#">Comforter and Quilt Sets</a></li>
						<li><a href="#">Sheets and Pillowcases</a></li>
						<li><a href="#">Kid's Bedding</a></li>
						<li><a href="#">Blankets and Throws</a></li>
						<li><a href="#">Bedding Accessories</a></li>
						<li><a href="#">Baby</a></li>
					</ul>
        		</li>
        		<li><a href="#">Household</a></li>
        		<li><a href="#">Office</a></li>
        		<li><a href="#">Travel</a></li>
        		<li><a href="#">Pets</a></li> -->
        	</ul>
        </div>
    </div>
</div>