<nav class="navbar fixed-top navbar-light customNav">
    <!-- <div class="container-fluid ">
      	<div class="paddingNav"> 
	        <div class="logoArea">GirlsFab</div>
	        <div class="compNam">GirlsFab</div>
	        <div class="topNav">
	        	<ul>
	        		<li><a href="#"  class="active">Home</a></li>
	        		<li>
	        			<a href="#">Bedding <i class="fa fa-angle-down"></i></a>        				
						<ul class="navL2">
							<li><a href="#">Comforter and Quilt Sets</a></li>
							<li><a href="#">Sheets and Pillowcases</a></li>
							<li><a href="#">Kid's Bedding</a></li>
							<li><a href="#">Blankets and Throws</a></li>
							<li><a href="#">Bedding Accessories</a></li>
							<li><a href="#">Baby</a></li>
						</ul>		
		        	</li>
	        		<li><a href="#">Kitchen  <i class="fa fa-angle-down"></i></a>
	        			<ul class="navL2">
							<li><a href="#">Comforter and Quilt Sets</a></li>
							<li><a href="#">Sheets and Pillowcases</a></li>
							<li><a href="#">Kid's Bedding</a></li>
							<li><a href="#">Blankets and Throws</a></li>
							<li><a href="#">Bedding Accessories</a></li>
							<li><a href="#">Baby</a></li>
						</ul>
	        		</li>
	        		<li><a href="#">Household</a></li>
	        		<li><a href="#">Office</a></li>
	        		<li><a href="#">Travel</a></li>
	        		<li><a href="#">Pets</a></li>
	        	</ul>
	        </div>
        </div>
    </div> -->
    <app-mobiletopnav></app-mobiletopnav>
</nav>

<div class="mobileContainer">
	<div class="special">
		<div class="container">
			<!-- <h3>Special Offers</h3> -->
			<div class="row">
				<div class="col-md-3">
					<div class="singleGrid">
						<div class="favorite active"><i class="fa fa-heart"></i></div>
						<a href="https://amzn.to/3gGXprx" target="_blank">
							<div class="imageArea"><img src="assets/images/watch.jpeg" class="img-responsive" alt=""></div>
							<div class="name">Casio GA-120-1ADR G-Shock Analog-Digital Watch for Men</div>
							<div class="bottomSec">
								<div class="likeArea"><i class="fa fa-thumbs-up"></i> 200 Likes</div>
								<div class="actionBtn"><span class="buyNowbtn">BUY NOW</span></div>
							</div>
						</a>
					</div>	
				</div>
				<div class="col-md-3">
					<div class="singleGrid">
						<div class="favorite"><i class="fa fa-heart"></i></div>
						<a href="https://amzn.to/3gGXprx" target="_blank">
							<div class="imageArea"><img src="assets/images/watch.jpeg" class="img-responsive" alt=""></div>
							<div class="name">Casio GA-120-1ADR G-Shock Analog-Digital Watch for Men</div>
							<div class="bottomSec">
								<div class="likeArea"><i class="fa fa-thumbs-up"></i> 200 Likes</div>
								<div class="actionBtn"><span class="buyNowbtn">BUY NOW</span></div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="singleGrid">
						<div class="favorite"><i class="fa fa-heart"></i></div>
						<a href="https://amzn.to/3gGXprx" target="_blank">
							<div class="imageArea"><img src="assets/images/watch.jpeg" class="img-responsive" alt=""></div>
							<div class="name">Casio GA-120-1ADR G-Shock Analog-Digital Watch for Men</div>
							<div class="bottomSec">
								<div class="likeArea"><i class="fa fa-thumbs-up"></i> 200 Likes</div>
								<div class="actionBtn"><span class="buyNowbtn">BUY NOW</span></div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="singleGrid">
						<div class="favorite"><i class="fa fa-heart"></i></div>
						<a href="https://amzn.to/3gGXprx" target="_blank">
							<div class="imageArea"><img src="assets/images/watch.jpeg" class="img-responsive" alt=""></div>
							<div class="name">Casio GA-120-1ADR G-Shock Analog-Digital Watch for Men</div>
							<div class="bottomSec">
								<div class="likeArea"><i class="fa fa-thumbs-up"></i> 200 Likes</div>
								<div class="actionBtn"><span class="buyNowbtn">BUY NOW</span></div>
							</div>
						</a>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>	

<div class="mobNav">
	<ul>
		<li><a href="#" class="active"><i class="fa fa-home"></i></a></li>
		<li><a href="#"><i class="fa fa-bed"></i></a></li>
		<li><a href="#"><i class="fa fa-faucet"></i></a></li>
		<li><a href="#"><i class="fa fa-address-book"></i></a></li>
		<li><a href="#"><i class="fa fa-broom"></i></a></li> 
	</ul> 
</div> 